@model IEnumerable<InventarioLPS.Data.Entities.Producto>

@{
	ViewData["Title"] = "Productos";

}
<h2>@ViewBag.Title</h2>
<button asp-action="Create" class="btn btn-primary bg-primary-site">+ Nuevo</button>
<table class="table">
	<thead>
		<tr>
			<th>Opciones</th>
			<th>Código</th>
			<th>Producto</th>
			<th>Categoría</th>
			<th>Departamento</th>
			<th>Linea de servicio</th>
			<th>Sub-línea</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Codigo"><i class="bi bi-pencil-square"></i></a>
					<a asp-action="Delete" asp-route-id="@item.Codigo"><i class="bi bi-x-square"></i></a>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Codigo)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IdCategoriaNavigation.Nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IdDepartamentoNavigation.Nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IdLineaServicioNavigation.Nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IdSubLineaServicioNavigation.Nombre)
				</td>
			</tr>
		}
	</tbody>
</table>
