<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - InventarioLPS</title>
	<link rel="shortcut icon" href="~/favicon.ico">
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<script src="https://unpkg.com/popperjs/core@2"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="d-flex flex-column" data-controller="@ViewContext.RouteData.Values["controller"]">

	<main class="d-flex h-100">
		<aside id="sidebarMenu" class="collapse d-md-block bg-primary-site p-3 flex-shrink-0" style="width: 280px;">
			<div class="d-flex flex-column flex-shrink-0 ps-1 pe-4">
				<a asp-action="Index">
					<img src="~/images/logo-lps.png" class="toWhite my-2 mx-3" width="180" />
				</a>
				<hr class="toWhite" />
				<ul class="nav nav-pills flex-column mb-auto">
					<li class="nav-item">
						<a asp-controller="Home" asp-action="Index" class="nav-link nav-link-sidebar text-white @(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" ? "active" : "")">
							<i class="bi bi-house-door-fill"></i> Inicio
						</a>
					</li>
					<li class="nav-item">
						<div class="nav-link nav-link-sidebar text-white cursor-pointer user-select-none" data-bs-toggle="collapse" data-bs-target="#permisosNav">
							<i class="bi bi-people-fill"></i> Administrador
						</div>
						<ul id="permisosNav" class="collapse nav nav-pills flex-column ms-3">
							<li class="nav-item">
								<a asp-controller="Usuarios" asp-action="Index" class="sub-nav-link nav-link text-white d-flex align-items-center gap-2 @(ViewContext.RouteData.Values["controller"]?.ToString() == "Usuarios" ? "active" : "")"><i class="bi bi-eyeglasses"></i> Usuarios</a>
							</li>
							<li class="nav-item">
								<a asp-controller="Perfiles" asp-action="Index" class="sub-nav-link nav-link text-white d-flex align-items-center gap-2 @(ViewContext.RouteData.Values["controller"]?.ToString() == "Perfiles" ? "active" : "")"><i class="bi bi-circle-square"></i> Perfiles</a>
							</li>
							<li class="nav-item">
								<a asp-controller="Permisos" asp-action="Index" class="sub-nav-link nav-link text-white d-flex align-items-center gap-2 @(ViewContext.RouteData.Values["controller"]?.ToString() == "Permisos" ? "active" : "")"><i class="bi bi-card-checklist"></i> Permisos</a>
							</li>
						</ul>
					</li>
					<li class="nav-item">
						<a asp-controller="Inventario" asp-action="Index" class="nav-link nav-link-sidebar text-white d-flex align-items-center gap-2 @(ViewContext.RouteData.Values["controller"]?.ToString() == "Inventario" ? "active" : "")"><i class="bi bi-box"></i> Inventario</a>
					</li>
					<li class="nav-item">
						<a asp-controller="NovedadesItem" asp-action="Index" class="nav-link nav-link-sidebar text-white d-flex align-items-center gap-2 @(ViewContext.RouteData.Values["controller"]?.ToString() == "NovedadesItem" ? "active" : "")"><i class="bi bi-duffle"></i> Novedades de inventario</a>
					</li>
					<li class="nav-item">
						<a asp-controller="OpcionesSistema" asp-action="Index" class="nav-link nav-link-sidebar text-white d-flex align-items-center gap-2 @(ViewContext.RouteData.Values["controller"]?.ToString() == "OpcionesSistema" ? "active" : "")"><i class="bi bi-duffle"></i> Opciones sistema</a>
					</li>
				</ul>
			</div>
		</aside>

		<section class="d-flex flex-column flex-grow-1 bg-light overflow-hidden" style="min-height: calc(100vh - 120px);">
			<header class="d-flex justify-content-between align-items-center mt-2 mx-2">
				<div class="d-md-none">
					<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
						<i class="bi bi-list"></i>
					</button>
				</div>
				<div class="flex-grow-1"></div>
				<a asp-controller="Account" asp-action="Logout" class="btn btn-secondary bg-primary-site">
					<i class="bi bi-person-circle"></i> Cerrar Sesión
				</a>
			</header>

			<div class="shadow-lg rounded-2 bg-light-subtle flex-grow-1 overflow-auto mt-3 p-2 mx-2">
				@RenderBody()
			</div>
		</section>
	</main>
	<footer class="text-muted">
		<div class="container">
			&copy; 2025 - Desoteem
		</div>
	</footer>

	@* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  *@
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	@* @RenderSection("Scripts", required: false) *@
	<script>
				document.addEventListener("DOMContentLoaded", function () {
			const collapseId = "permisosNav";
			const collapseEl = document.getElementById(collapseId);
			const currentController = document.body.getAttribute("data-controller");

			const relatedControllers = ["Usuarios", "Perfiles", "Permisos"];
			const shouldExpand = relatedControllers.includes(currentController);

			if (shouldExpand) {
				new bootstrap.Collapse(collapseEl, { toggle: true });
			}

			document.querySelector(`[data-bs-target="#${collapseId}"]`).addEventListener("click", function () {
				const visible = collapseEl.classList.contains("show");
				localStorage.setItem(collapseId, !visible);
			});
			document.querySelectorAll('[data-bs-toggle="tooltip"]').forEach(function (el) {
			new bootstrap.Tooltip(el);
		});
		});

	</script>
</body>
</html>
