@model IEnumerable<InventarioLPS.Data.Entities.Proveedor>

@{
    ViewData["Title"] = "Proveedores";
}
<h2>@ViewBag.Title</h2>
<button asp-action="Create" class="btn btn-primary bg-primary-site">+ Nuevo</button>
<table class="table">
    <thead>
        <tr>
            <th>Opciones</th>
            <th>RUC</th>
            <th>Razón social</th>
            <th>Nombre comercial</th>
            <th>Dirección</th>
            <th>Persona de contacto</th>
            <th>Teléfono</th>
            <th>Correo</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-x-square"></i></a>
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ruc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RazonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreComercial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonaContacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
        </tr>
}
    </tbody>
</table>
