@model IEnumerable<InventarioLPS.Data.Entities.ItemInventario>

@{
	ViewData["Title"] = "Inventario";
}
<h2>@ViewData["Title"]</h2>
<p>
	<a asp-action="Create" class="btn btn-secondary bg-primary-site"><i class="bi bi-plus"></i>Nuevo</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>Opciones</th>
			<th>Codigo</th>
			<th>Departamento</th>
			<th>Categoría</th>
			<th>Linea de servicio</th>
			<th>Sub-Linea</th>
			<th>Descrip. específica</th>
			<th>Especifi. técnicas</th>
			<th>Fecha de compra</th>
			<th>Valor sin IVA</th>
			<th># fabricante</th>
			<th># serie LPS</th>
			<th>Estatus</th>
			@* <th>
				@Html.DisplayNameFor(model => model.CodigoProductoNavigation)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IdClasificacionNavigation)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IdInformacionRegistroNavigation)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IdProveedorNavigation)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IdUbicacionNavigation)
			</th> *@
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
					<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger px-2 py-1"><i class="bi bi-trash"></i></a>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CodigoItem)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Departamento)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Categoria)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LineaServicio)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SubLineaServicio)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DescripcionEspecifica)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EspecificacionesTecnicas)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ValorUnitarioSinIva)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NumeroParteFabricante)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NumeroSerieLps)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Estatus)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CodigoProductoNavigation.Codigo)
				</td>
				<td>
					@* @Html.DisplayFor(modelItem => item.IdClasificacionNavigation.Nombre) *@
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IdInformacionRegistroNavigation.NumeroDocumento)
				</td>
				<td>
					@* @Html.DisplayFor(modelItem => item.IdProveedorNavigation.Correo) *@
				</td>
				<td>
					@* @Html.DisplayFor(modelItem => item.IdUbicacionNavigation.Nombre) *@
				</td>
			</tr>
		}
	</tbody>
</table>
