@model IEnumerable<InventarioLPS.Data.Entities.NovedadItem>

@{
    ViewData["Title"] = "Novedades";
}

<h1>@ViewBag.Title</h1>
<a asp-action="Create" class="btn btn-secondary bg-primary-site"><i class="bi bi-plus"></i>Nuevo</a>
<div class="mt-5">
    <p class="h5 text-center">Presione en <b>"+ Nuevo"</b> para agregar una novedad a un item de inventario.</p>
    <img src="~/images/logo-lps.png" class="img-fluid mx-auto d-block col-sm-6 col-8" />
</div>
@* <table class="table">
    <thead>
		<tr>
			<th>Opciones</th>
            <th>Fecha</th>
            <th>Novedad</th>
            <th>Código</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
			<tr>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Novedad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdItemInventarioNavigation.CodigoItem)
            </td>
        </tr>
}
    </tbody>
</table> *@
