@model IEnumerable<ItemInventarioViewModel>

@{
	ViewData["Title"] = "Inventario";
}
<h2>@ViewBag.Title</h2>
<div class="row">
	<div class="col">
		<a asp-action="Create" class="btn btn-secondary bg-primary-site"><i class="bi bi-plus"></i>Nuevo</a>
	</div>
</div>

<div class="table-responsive ">
	<table class="table">
		<thead class="fs-theader">
			<tr>
				<th>Opciones</th>
				<th>Código</th>
				<th>Forma registro</th>
				<th># Documento</th>
				<th>Fecha de compra</th>
				<th>Valor Unit. sin IVA</th>
				<th>Cantidad</th>
				<th>Total sin IVA</th>
				<th>Producto</th>
				<th>Departamento</th>
				<th>Categoría</th>
				<th>Línea de servicio</th>
				<th>Sub-línea</th>
				<th>Descrip. específica</th>
				<th>Especifi. técnicas</th>
				<th># fabricante</th>
				<th># serie LPS</th>
				<th>Estatus</th>
				<th>Ubicación</th>
				<th>Clasificación</th>
				<th>Proveedor</th>
			</tr>
		</thead>
		<tbody class="fs-tbody">
			@foreach (var item in Model)
			{
				<tr>
					<td class="ps-4 pe-5">
						<a asp-action="Edit" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-title="Editar" class=" border btn btn-light btn-sm px-2 py-1">
							<i class="bi bi-pencil-square"></i>
						</a>
						<button type="button"
								data-bs-toggle="modal"
								data-bs-target="#genericConfirmModal"
								data-action="/Inventario/Delete/@item.Id"
								data-body="¿Desea eliminar este item? Se eliminaran sus novedades registradas en caso de existir.<br><strong>Código:</strong> @item.CodigoItem<br><strong>Producto:</strong> @item.Producto<br><strong>Desc. Específica:</strong> @item.DescripcionEspecifica"
								title="Eliminar"
								class="btn btn-danger btn-sm px-2 py-1 my-1">
							<i class="bi bi-trash"></i>
						</button>
						<a asp-controller="Novedades" asp-action="Create" asp-route-idItem="@item.Id" data-bs-toggle="tooltip" data-bs-title="Agregar novedades" class=" border btn btn-light btn-sm px-2 py-1">
							<i class="bi bi-clipboard-plus"></i>
						</a>
						<a asp-controller="Novedades" asp-action="Details" asp-route-idItem="@item.Id" data-bs-toggle="tooltip" data-bs-title="Ver novedades" class=" border btn btn-light btn-sm px-2 py-1">
							<i class="bi bi-card-list"></i>
						</a>
					</td>
					<td class="fs-td td-codigo">@item.CodigoItem</td>
					<td class="fs-td td-formaRegistro">@item.FormaRegistro</td>
					<td class="fs-td td-numDoc">@item.NumeroDocumento</td>
					<td class="fs-td td-fechaCompra">@item.FechaCompra.ToString("yyyy-MM-dd")</td>
					<td class="fs-td td-valor">@item.ValorUnitarioSinIva.ToString("0.################").TrimEnd('0').TrimEnd('.')</td>
					<td class="fs-td td-cantidad">@item.Cantidad</td>
					<td class="fs-td td-valor">@item.TotalSinIva.ToString("0.################").TrimEnd('0').TrimEnd('.')</td>
					<td class="fs-td td-producto">@item.Producto</td>
					<td class="fs-td td-departamento">@item.Departamento</td>
					<td class="fs-td td-categoria">@item.Categoria</td>
					<td class="fs-td td-linea">@item.LineaServicio</td>
					<td class="fs-td td-sublinea">@item.SubLineaServicio</td>
					<td class="fs-td td-descripcion">@item.DescripcionEspecifica</td>
					<td class="fs-td td-especificaciones">@item.EspecificacionesTecnicas</td>
					<td class="fs-td td-parte">@item.NumeroParteFabricante</td>
					<td class="fs-td td-serie">@item.NumeroSerieLps</td>
					<td class="fs-td td-estatus">@item.Estatus</td>
					<td class="fs-td td-ubicacion">@item.Ubicacion</td>
					<td class="fs-td td-clasificacion">@item.Clasificacion</td>
					<td class="fs-td td-proveedor">@item.Proveedor</td>
				</tr>
			}
		</tbody>
	</table>
</div>